@page "/Admin/add-product"
@using Zavrsni.Rad.AnamarijaZron.Models;
@inject HttpClient httpClient
@inject NavigationManager navManager


<h3>Add Product</h3>
@if (IsError)
{
    <div>
        @*Oops! An error occurred. Please try again.*@
        @Constants.ErrorMessage
    </div>

}
<form @onsubmit="ProductAdd">

    <div class="row mb-3">

        <label for="SelectCat" class="col-sm-2 col-form-label">Pick Category</label>
        <div class="col-sm-10">
            <select @onchange=@(SelectCategory) class="form-control" id="SelectCat">

                <option value="">--Select--</option>
                @foreach (var cat in categories)
                {
                    if (cat.Id == product.CategoryId)
                    {
                        <option value="@cat.Id" selected>@cat.CategoryName</option>
                    }
                    else
                    {
                        <option value="@cat.Id">@cat.CategoryName</option>
                    }
                }
            </select>
        </div>
    </div>




    <div class="row mb-3">
        <label for="ProductName" class="col-sm-2 col-form-label">Product Name</label>
        <div class="col-sm-10">
            <input type="text" @bind-value="product.ProductName" class="form-control" id="ProductName">
        </div>
    </div>
    <div class="row mb-3">
        <label for="Product Description" class="col-sm-2 col-form-label">Product Description</label>
        <div class="col-sm-10">
            <input type="text" @bind-value="product.ProductDescription" class="form-control" id="ProductDescription">
        </div>
    </div>
    <div class="row mb-3">
        <label for="Product Price" class="col-sm-2 col-form-label">Product Price</label>
        <div class="col-sm-10">
            <input type="text" @bind-value="product.ProductPrice" class="form-control" id="ProductPrice">
        </div>
    </div>
    <div class="row mb-3">
        <label for="Discount" class="col-sm-2 col-form-label">Discount</label>
        <div class="col-sm-10">
            <input type="text" @bind-value="product.Discount" class="form-control" id="Product Discount">
        </div>
    </div>
   
 
    <button type="submit" class="button">Add Product</button>

</form>

@code {
    [Parameter]
    public int Id { get; set; }
    List<Category> categories = new List<Category>();
  
    private Product product = new Product();
    private bool IsError = false;

    protected override async Task OnInitializedAsync()
    {

            categories = await CategoryList();
    }

    private async Task ProductAdd()
    {
        var result = await httpClient.PostAsJsonAsync($"{Constants.BaseUrl}/Products", product);

        if (result.IsSuccessStatusCode)
        {
            navManager.NavigateTo("/Admin/list-products");
        }
        else
        {
            IsError = true;
            StateHasChanged();
        }
    }
    


    private async Task SelectCategory(ChangeEventArgs e)
    {
        product.CategoryId = Convert.ToInt32(e.Value.ToString());
    }

    protected async Task<List<Category>> CategoryList()
    {
        var result = await httpClient.GetAsync("https://expertshopapi.azurewebsites.net/api/Categories");
        if (result.IsSuccessStatusCode)
        {
            categories = await result.Content.ReadFromJsonAsync<List<Category>>();

        }
        return categories;
    }



}